@import 'globals';

@include react-md-everything;

.container {
  padding: 26px;
}

.header-content{
  display: flex;
  width: 100%;
  justify-content: center;
}

.is-active{
  background: $md-primary-color;
  display: block;
}