@import 'globals';

@include react-md-everything;

$secondary-color: #8B8B8B;
$font-color: #3D3E40;

.container {
  padding: 26px;
}

.header-content{
  display: flex;
  width: 100%;
  justify-content: center;
}

.is-active{
  background: $md-primary-color;
  display: block;
}